<div class="w-full bg-[#0F172A] relative">
  <app-nav-bar></app-nav-bar>

  <!--  right svgs-->
  <svg class="absolute right-0 top-0 z-0" width="516" height="360" viewBox="0 0 516 360" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="290.996" cy="306.39" rx="290.996" ry="306.39"
             transform="matrix(0.443059 0.896493 -0.903358 0.428887 453.561 -325)" fill="url(#paint0_linear_392_112)"/>
    <defs>
      <linearGradient id="paint0_linear_392_112" x1="21.4033" y1="-239.373" x2="368.348" y2="373.925"
                      gradientUnits="userSpaceOnUse">
        <stop offset="0.163142" stop-color="#283958"/>
        <stop offset="0.898521" stop-color="#3E63A6" stop-opacity="0.06"/>
      </linearGradient>
    </defs>
  </svg>

  <!--  left svgs-->
  <svg class="absolute bottom-0 left-0" width="312" height="833" viewBox="0 0 312 833" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <rect width="358.052" height="788.719" transform="matrix(-0.940176 -0.340689 0.432866 -0.901459 -30.3682 832.982)"
          fill="url(#paint0_linear_392_114)"/>
    <defs>
      <linearGradient id="paint0_linear_392_114" x1="213.091" y1="-26.0358" x2="220.889" y2="785.08"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#2B3A5F"/>
        <stop offset="1" stop-color="#0E1C3E" stop-opacity="0"/>
      </linearGradient>
    </defs>
  </svg>
  <svg class="hidden md:absolute bottom-0 left-0" width="424" height="564" viewBox="0 0 424 564" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="406.986" cy="428.516" rx="406.986" ry="428.516"
             transform="matrix(-0.975983 -0.217846 0.233188 -0.972432 311.422 931.726)"
             fill="url(#paint0_linear_392_113)"/>
    <defs>
      <linearGradient id="paint0_linear_392_113" x1="29.9345" y1="-334.785" x2="515.169" y2="522.97"
                      gradientUnits="userSpaceOnUse">
        <stop offset="0.163142" stop-color="#283958"/>
        <stop offset="0.898521" stop-color="#3E63A6" stop-opacity="0.06"/>
      </linearGradient>
    </defs>
  </svg>
  <section class="flex flex-col items-center justify-center gap-8 text-center relative py-24">
    <div class="text-3xl md:text-6xl text-[#DDDFEE] font-medium">Your <span class="text-amber-500">180°</span> Solution</div>
    <p class="text-xl md:text-3xl text-[#ADB3BB] leading-[3rem]">We pride ourselves on taking a unique approach to <br> every
      project we touch.</p>
    <button routerLink="/contact-us" class="px-12 py-5 bg-amber-500 rounded-full font-medium mt-6">CONTACT US</button>
  </section>
</div>

<main class="px-4 md:px-28 py-14">
  <section class="grid grid-cols-1 sm:grid-cols-3 gap-6 text-lg md:text-2xl md:leading-[48px] ">
    <p class="sm:col-span-3 pb-16">At Enigma, we transcend traditional industry boundaries. Far from being just another
      architectural visualization
      firm, software developer, construction entity, or marketing agency, we embody a unique fusion of expertise and
      innovation. Our vision extends beyond the conventional 360-degree approach. we believe in transformative change.
      Enigma is not just an addition to your business strategy—it's a 180-degree turn towards reinvention and
      groundbreaking solutions. We are the architects of change, the catalysts for your business evolution.</p>

    <div class="sm:col-span-1 flex justify-center max-h-[425px] rounded-md">
      <img class="object-contain" ngSrc="assets/image/e0-3D-logo.png" alt="" height="7954" width="6172">
    </div>
    <p class="sm:col-span-2">Our talented individuals emerge from various backgrounds set across software engineering, web development,
      designing, animating, branding and marketing. Together we strive to perfect our craft and put out unique designs
      that meet our clients expectations.</p>
  </section>
</main>

<section class="flex flex-col gap-6 items-center px-4 md:px-28 py-14">
  <img ngSrc="assets/image/enigma-zero-logo.png" height="123" width="180" alt="">
  <div class="text-center text-slate-900 text-3xl md:text-5xl font-semibold leading-[120%]">We would love to hear more about how we
    can help you out. Schedule a call with us and tell us all about your project
  </div>
</section>

<section class="w-full bg-[#0F172A] py-28 px-4 relative">
  <svg class="absolute left-0 top-0" xmlns="http://www.w3.org/2000/svg" width="356" height="315" viewBox="0 0 356 315"
       fill="none">
    <path
      d="M350.815 15.4414C323.375 -118.455 189.173 -204.056 51.0655 -175.754C-87.0418 -147.451 -176.756 -15.9629 -149.316 117.934C-121.877 251.83 12.3258 337.432 150.433 309.129C288.54 280.827 378.254 149.338 350.815 15.4414Z"
      fill="url(#paint0_linear_392_173)"/>
    <defs>
      <linearGradient id="paint0_linear_392_173" x1="-117.423" y1="36.658" x2="210.142" y2="310.094"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#1B2854" stop-opacity="0"/>
        <stop offset="1" stop-color="#111F40" stop-opacity="0.38"/>
      </linearGradient>
    </defs>
  </svg>
  <svg class="absolute left-0 bottom-0" width="212" height="148" viewBox="0 0 212 148" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <path
      d="M-22.5249 273.668C-35.02 278.552 -48.2751 268.542 -46.9965 255.188L-24.1846 16.9118C-22.8428 2.89664 -6.65467 -4.22169 4.58088 4.26293L204.705 155.388C215.941 163.873 213.524 181.391 200.411 186.517L-22.5249 273.668Z"
      fill="url(#paint0_linear_392_171)"/>
    <defs>
      <linearGradient id="paint0_linear_392_171" x1="26.5582" y1="281.757" x2="55.5095" y2="-68.6435"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#081B38" stop-opacity="0"/>
        <stop offset="1" stop-color="#092655"/>
      </linearGradient>
    </defs>
  </svg>

  <!--  right-->
  <svg class="absolute right-0 bottom-0" xmlns="http://www.w3.org/2000/svg" width="281" height="338"
       viewBox="0 0 281 338" fill="none">
    <path
      d="M140.314 384.594C241.555 411.345 345.996 348.378 373.588 243.953C401.181 139.528 341.477 33.1887 240.235 6.43742C138.994 -20.3138 34.5533 42.6533 6.96077 147.078C-20.6317 251.504 39.0725 357.843 140.314 384.594Z"
      fill="url(#paint0_linear_392_172)"/>
    <defs>
      <linearGradient id="paint0_linear_392_172" x1="314.709" y1="104.817" x2="-14.0705" y2="187.756"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#1B2854" stop-opacity="0.38"/>
        <stop offset="1" stop-color="#0F172A" stop-opacity="0.84"/>
      </linearGradient>
    </defs>
  </svg>
  <svg class="absolute right-0 top-0" xmlns="http://www.w3.org/2000/svg" width="220" height="560" viewBox="0 0 220 560"
       fill="none">
    <path d="M0 -37.5156L206.935 -105L407.971 511.459L201.036 578.943L0 -37.5156Z" fill="url(#paint0_linear_392_174)"/>
    <defs>
      <linearGradient id="paint0_linear_392_174" x1="238.695" y1="-109.6" x2="203.891" y2="462.727"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#041651" stop-opacity="0.22"/>
        <stop offset="1" stop-color="#8AA1ED" stop-opacity="0"/>
        <stop offset="1" stop-color="#011249" stop-opacity="0"/>
      </linearGradient>
    </defs>
  </svg>

  <div class="relative flex flex-col items-center justify-center gap-8 text-center">
    <div class="text-center text-white text-3xl md:text-5xl font-semibold leading-10">We would love to hear more
      about your project
    </div>
    <div class="text-center text-amber-500 text-3xl md:text-5xl font-semibold leading-10">Contact us for a custom
      quote
    </div>
    <div class="text-center text-slate-400 text-lg font-normal leading-loose">Our team will contact you with 3
      business days
    </div>
    <button routerLink="/contact-us" class="px-12 py-5 bg-amber-500 rounded-full font-medium mt-6">CONTACT US</button>

  </div>
</section>

<app-footer></app-footer>
