<div class="w-full bg-[#0F172A] relative">
  <app-nav-bar></app-nav-bar>

  <!--  right svgs-->
  <svg class="absolute right-0 top-0 z-0" width="516" height="360" viewBox="0 0 516 360" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="290.996" cy="306.39" rx="290.996" ry="306.39"
             transform="matrix(0.443059 0.896493 -0.903358 0.428887 453.561 -325)" fill="url(#paint0_linear_392_112)"/>
    <defs>
      <linearGradient id="paint0_linear_392_112" x1="21.4033" y1="-239.373" x2="368.348" y2="373.925"
                      gradientUnits="userSpaceOnUse">
        <stop offset="0.163142" stop-color="#283958"/>
        <stop offset="0.898521" stop-color="#3E63A6" stop-opacity="0.06"/>
      </linearGradient>
    </defs>
  </svg>

  <!--  left svgs-->
  <svg class="absolute bottom-0 left-0" width="312" height="833" viewBox="0 0 312 833" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <rect width="358.052" height="788.719" transform="matrix(-0.940176 -0.340689 0.432866 -0.901459 -30.3682 832.982)"
          fill="url(#paint0_linear_392_114)"/>
    <defs>
      <linearGradient id="paint0_linear_392_114" x1="213.091" y1="-26.0358" x2="220.889" y2="785.08"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#2B3A5F"/>
        <stop offset="1" stop-color="#0E1C3E" stop-opacity="0"/>
      </linearGradient>
    </defs>
  </svg>
  <svg class="absolute bottom-0 left-0" width="424" height="564" viewBox="0 0 424 564" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="406.986" cy="428.516" rx="406.986" ry="428.516"
             transform="matrix(-0.975983 -0.217846 0.233188 -0.972432 311.422 931.726)"
             fill="url(#paint0_linear_392_113)"/>
    <defs>
      <linearGradient id="paint0_linear_392_113" x1="29.9345" y1="-334.785" x2="515.169" y2="522.97"
                      gradientUnits="userSpaceOnUse">
        <stop offset="0.163142" stop-color="#283958"/>
        <stop offset="0.898521" stop-color="#3E63A6" stop-opacity="0.06"/>
      </linearGradient>
    </defs>
  </svg>
  <section class="flex flex-col items-center justify-center gap-8 text-center relative py-24">
    <div class="text-3xl md:text-6xl text-[#DDDFEE] font-medium">Pricing That Match Your Needs</div>
    <p class="text-xl md:text-3xl text-[#ADB3BB] leading-[3rem]">We pride ourselves on taking a unique approach to every project we
      touch.</p>
    <button routerLink="/contact-us" class="px-12 py-5 bg-amber-500 rounded-full font-medium mt-6">CONTACT US</button>
  </section>
</div>

<section class="grid md:grid-cols-6 p-4 md:p-32">
  <div class="col-span-2 h-96 px-16 flex-col justify-center items-start gap-1.5 inline-flex border border-t-0 border-l-0">
    <div class="w-28 h-28 justify-center items-center inline-flex">
      <img ngSrc="assets/icon/arch-viz/bead-room.png" alt="" height="121" width="120"/>
    </div>
    <div class="flex-col justify-center items-start gap-4 flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <label class="text-center text-slate-900 text-3xl font-normal">Bed Room </label>
        <label class="text-center text-slate-900 text-3xl font-semibold">$300 - $500</label>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>
  <div class="col-span-2 h-96 px-16 flex-col justify-center items-start gap-1.5 inline-flex border border-t-0">
    <div class="w-28 h-28 justify-center items-center inline-flex">
      <img ngSrc="assets/icon/arch-viz/pantry.png" alt="" height="121" width="120"/>
    </div>
    <div class="flex-col justify-center items-start gap-4 flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <label class="text-center text-slate-900 text-3xl font-normal">Pantry</label>
        <label class="text-center text-slate-900 text-3xl font-semibold">$300 - $500</label>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>
  <div class="col-span-2 h-96 px-16 flex-col justify-center items-start gap-1.5 inline-flex border border-r-0 border-t-0">
    <div class="w-28 h-28 justify-center items-center inline-flex">
      <img ngSrc="assets/icon/arch-viz/living-room.png" alt="" height="121" width="120"/>
    </div>
    <div class="flex-col justify-center items-start gap-4 flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <label class="text-center text-slate-900 text-3xl font-normal">Living Room</label>
        <label class="text-center text-slate-900 text-3xl font-semibold">$300 - $500</label>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>

  <div class="col-span-2 h-96 px-16 flex-col justify-center items-start gap-1.5 inline-flex border border-l-0">
    <div class="w-28 h-28 justify-center items-center inline-flex">
      <img ngSrc="assets/icon/arch-viz/dining.png" alt="" height="121" width="120"/>
    </div>
    <div class="flex-col justify-center items-start gap-4 flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <label class="text-center text-slate-900 text-3xl font-normal">Dining</label>
        <label class="text-center text-slate-900 text-3xl font-semibold">$300 - $500</label>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>
  <div class="col-span-2 h-96 px-16 flex-col justify-center items-start gap-1.5 inline-flex border">
    <div class="w-28 h-28 justify-center items-center inline-flex">
      <img ngSrc="assets/icon/arch-viz/kitchen.png" alt="" height="121" width="120"/>
    </div>
    <div class="flex-col justify-center items-start gap-4 flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <label class="text-center text-slate-900 text-3xl font-normal">Kitchen</label>
        <label class="text-center text-slate-900 text-3xl font-semibold">$300 - $500</label>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>
  <div class="col-span-2 h-96 px-16 flex-col justify-center items-start gap-1.5 inline-flex border border-r-0">
    <div class="w-28 h-28 justify-center items-center inline-flex">
      <img ngSrc="assets/icon/arch-viz/bathroom.png" alt="" height="121" width="120"/>
    </div>
    <div class="flex-col justify-center items-start gap-4 flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <label class="text-center text-slate-900 text-3xl font-normal">Bathroom</label>
        <label class="text-center text-slate-900 text-3xl font-semibold">$300 - $500</label>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>


  <div class="border col-span-3 px-16 py-14 gap-3 flex-col justify-center items-start gap-1.5 inline-flex border-l-0">
    <img class="w-36 h-36" ngSrc="assets/icon/arch-viz/single-story.png" height="150" width="150" alt=""/>
    <div class="flex-col justify-center pb-4 items-start border-b gap-2.5 inline-flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-normal">Exterior Single Story Only</div>
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-semibold">$500 - $1000</div>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>

    <div class="flex-col justify-center items-start gap-2.5 inline-flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-normal">Exterior Single Story Only</div>
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-semibold">$500 - $1000</div>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 2 Weeks</span>
      </label>
    </div>
  </div>
  <div class="border col-span-3 px-16 py-14 gap-3 flex-col justify-center items-start gap-1.5 inline-flex border-r-0">
    <img class="w-36 h-36" ngSrc="assets/icon/arch-viz/two-story.png" height="150" width="150" alt=""/>
    <div class="flex-col justify-center pb-4 items-start border-b gap-2.5 inline-flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-normal">Exterior Two Story Only</div>
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-semibold">$700 - $1200</div>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 3 Weeks</span>
      </label>
    </div>

    <div class="flex-col justify-center items-start gap-2.5 inline-flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-normal">Exterior & Interior Two Story</div>
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-semibold">$1400 - $1600</div>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 3 Weeks</span>
      </label>
    </div>
  </div>
  <div class="border col-span-3 px-16 py-14 gap-3 flex-col justify-center items-start gap-1.5 inline-flex border-l-0">
    <img class="w-36 h-36" ngSrc="assets/icon/arch-viz/three-story.png" height="150" width="150" alt=""/>
    <div class="flex-col justify-center pb-4 items-start border-b gap-2.5 inline-flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-normal">Exterior Three Story Only</div>
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-semibold">$1000 - $1500</div>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 3 Weeks</span>
      </label>
    </div>

    <div class="flex-col justify-center items-start gap-2.5 inline-flex">
      <div class="flex-col justify-center items-start flex gap-2">
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-normal">Exterior & Interior Three Story</div>
        <div class="md:text-center text-slate-900 text-2xl md:text-3xl font-semibold">$2000 - $2500</div>
      </div>
      <label class="text-lg">
        <span class="text-gray-500">Turn Over Time -</span> <span class="font-medium"> 3 Weeks</span>
      </label>
    </div>
  </div>

</section>

<section class="w-full bg-[#0F172A] px-4 py-28 relative">
  <svg class="absolute left-0 top-0" xmlns="http://www.w3.org/2000/svg" width="356" height="315" viewBox="0 0 356 315"
       fill="none">
    <path
      d="M350.815 15.4414C323.375 -118.455 189.173 -204.056 51.0655 -175.754C-87.0418 -147.451 -176.756 -15.9629 -149.316 117.934C-121.877 251.83 12.3258 337.432 150.433 309.129C288.54 280.827 378.254 149.338 350.815 15.4414Z"
      fill="url(#paint0_linear_392_173)"/>
    <defs>
      <linearGradient id="paint0_linear_392_173" x1="-117.423" y1="36.658" x2="210.142" y2="310.094"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#1B2854" stop-opacity="0"/>
        <stop offset="1" stop-color="#111F40" stop-opacity="0.38"/>
      </linearGradient>
    </defs>
  </svg>
  <svg class="absolute left-0 bottom-0" width="212" height="148" viewBox="0 0 212 148" fill="none"
       xmlns="http://www.w3.org/2000/svg">
    <path
      d="M-22.5249 273.668C-35.02 278.552 -48.2751 268.542 -46.9965 255.188L-24.1846 16.9118C-22.8428 2.89664 -6.65467 -4.22169 4.58088 4.26293L204.705 155.388C215.941 163.873 213.524 181.391 200.411 186.517L-22.5249 273.668Z"
      fill="url(#paint0_linear_392_171)"/>
    <defs>
      <linearGradient id="paint0_linear_392_171" x1="26.5582" y1="281.757" x2="55.5095" y2="-68.6435"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#081B38" stop-opacity="0"/>
        <stop offset="1" stop-color="#092655"/>
      </linearGradient>
    </defs>
  </svg>

  <!--  right-->
  <svg class="absolute right-0 bottom-0" xmlns="http://www.w3.org/2000/svg" width="281" height="338"
       viewBox="0 0 281 338" fill="none">
    <path
      d="M140.314 384.594C241.555 411.345 345.996 348.378 373.588 243.953C401.181 139.528 341.477 33.1887 240.235 6.43742C138.994 -20.3138 34.5533 42.6533 6.96077 147.078C-20.6317 251.504 39.0725 357.843 140.314 384.594Z"
      fill="url(#paint0_linear_392_172)"/>
    <defs>
      <linearGradient id="paint0_linear_392_172" x1="314.709" y1="104.817" x2="-14.0705" y2="187.756"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#1B2854" stop-opacity="0.38"/>
        <stop offset="1" stop-color="#0F172A" stop-opacity="0.84"/>
      </linearGradient>
    </defs>
  </svg>
  <svg class="absolute right-0 top-0" xmlns="http://www.w3.org/2000/svg" width="220" height="560" viewBox="0 0 220 560"
       fill="none">
    <path d="M0 -37.5156L206.935 -105L407.971 511.459L201.036 578.943L0 -37.5156Z" fill="url(#paint0_linear_392_174)"/>
    <defs>
      <linearGradient id="paint0_linear_392_174" x1="238.695" y1="-109.6" x2="203.891" y2="462.727"
                      gradientUnits="userSpaceOnUse">
        <stop stop-color="#041651" stop-opacity="0.22"/>
        <stop offset="1" stop-color="#8AA1ED" stop-opacity="0"/>
        <stop offset="1" stop-color="#011249" stop-opacity="0"/>
      </linearGradient>
    </defs>
  </svg>

  <div class="relative flex flex-col items-center justify-center gap-8 text-center">
    <div class="text-center text-white text-3xl md:text-5xl font-semibold leading-10">We would love to hear more
      about your project
    </div>
    <div class="text-center text-amber-500 text-3xl md:text-5xl font-semibold leading-10">Contact us for a custom
      quote
    </div>
    <div class="text-center text-slate-400 text-lg font-normal leading-loose">Our team will contact you with 3
      business days
    </div>
    <button routerLink="/contact-us" class="px-12 py-5 bg-amber-500 rounded-full font-medium mt-6 w-fit">CONTACT US</button>

  </div>
</section>

<app-footer></app-footer>
